<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngFor="let utility of utilities; let i = index">
        <div class="card-header">
          <h4 class="card-title">Upload {{ utility.name }} Bill</h4>
        </div>
        <div class="card-body">
          <input type="file" (change)="onFileChange($event, i)" />
          <p *ngIf="utility.fileName">{{ utility.fileName }}</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
